*{
    font-family: Helvetica, sans-serif;
    color: seashell;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

body{
    background-color: black;
    margin: 20px;
}
h2{font-size: 36px;
}
h3{
    font-size: 26px;
}
h4{
    margin-top: 10px;
    font-size: 22px;
}
h5{
    font-size: 18px;
}
p{
    font-size: 19px;
}
.left{text-align: left;}
.right{text-align: right;}
.center{text-align: center;}
.bg-black{background-color: black;}
/* Header */
header{
    height: 69px;
    border-bottom: 1px solid seashell;
    position: sticky;
    top:0px;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    list-style: none;
}
header li{
    display: inline;
    margin-right: 30px;
}
.logo{
    height: 50px;
}
/*Mission Section*/
.top-banner{
    background-image: url(./img/img-mission-background.jpg);
    height: 700px;
}
.banner{
    max-width: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.mission{
    background-color: rgba(0, 0, 0, 0.9);
    flex-grow: 1;
    padding: 20px ;
}
/*Featured Section*/
.display{
    margin: 50px auto;
    max-width: 1000px;
}

figure img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}
figcaption {
    text-align: center;
    margin-top: 10px;
}
.group{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: auto;
}

/*Locations */
.loc{
    padding: 15px;
}
.container{
    display: flex;
    margin: 15px auto;
    max-width: 1050px;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 280px;
    opacity: 0.9;
}

.bottom-banner{
    background-image: url(./img/img-locations-background.jpg);
    background-size: cover;
    min-height: 500px;
    padding: 30px;
}

/*Contact Section*/
.contact{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}